body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, 
dl, dt, dd, ul, ol, li, 
button, input, textarea, 
th, td { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration:none !important;
}
.container {
    width: 1210px;
    margin: 0 auto;
}
.register {
    width: 400px;
    margin: 0 auto;
    padding-top: 40px;
    .checkbox {
        margin-bottom: 30px;
    }
}
.register-box {
    height: 50px;
    width: 100%;
    border: 1px solid #aaaaaa;
    margin-bottom: 30px;
    padding-left: 10px;
    position: relative;
    > label {
        height: 50px;
        line-height: 50px;
        
        width: 70px;
    }
    > input {
        height: 46px;
        line-height: 46px;
        width: 270px;
        border: none;
        outline:none;
        box-shadow: none;
        padding-left: 10px;
    }
    > span {
        height: 50px;
        line-height: 50px;
        width: 20px;
        display: inline-block;
        float: right;
    }
    > .error {
        position: absolute;
        top: 50px;
        left: 0;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
    > .tip {
       position: absolute;
        top: 50px;
        left: 0;
        height: 30px;
        line-height: 30px;
        display: none;
        color: rgba(0, 0, 0, .2);
        font-size: 12px;
    }
    
}
.icon {
      /* 通过设置 font-size 来改变图标大小 */
      width: 1em; height: 1em;
      /* 图标和文字相邻时，垂直对齐 */
      vertical-align: -0.15em;
      /* 通过设置 color 来改变 SVG 的颜色/fill */
      fill: currentColor;
      /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
     normalize.css 中也包含这行 */
      overflow: hidden;
}