<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>表单验证--注册</title>
    <link rel="stylesheet" href="scss/new_file.css">
    <link rel="stylesheet" href="plugin/bootstrap.css">
    <link rel="stylesheet" href="plugin/ui-bootstrap-csp.css">
</head>
<!--姓名这边验证考虑的还是不全-->
<body ng-controller='myCtr'>
	<div class="container">
		<form class="register" name="loginForm" role="form" ng-submit="submitForm(myForm.$valid)" novalidate>
			<div class="register-box">
				<label for='username'>用&nbsp;&nbsp;&nbsp;户&nbsp;&nbsp;&nbsp;名</label>
				<input type="text" id="username" placeholder="您的账户名和登录名" name="uname" ng-model="uname" ng-minlength=
                    6 ng-maxlength=20 ng-pattern="/(^[0-9_]*?((_+[0-9_]*?[0-9]+)|([0-9]+[0-9_]*?_+))[0-9_]*?$)|(^[a-zA-Z_]*?((_+[a-zA-Z_]*?[a-zA-Z]+)|([a-zA-Z]+[a-zA-Z_]*?_+))[a-zA-Z_]*?$)|(^[a-zA-Z0-9]*?(([0-9]+[a-zA-Z0-9]*?[a-zA-Z]+)|([a-zA-Z]+[a-zA-Z0-9]*?[0-9]+))[a-zA-Z0-9]*?$)/"  required />
				<span ng-show='loginForm.uname.$dirty && loginForm.uname.$valid'>
					<svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-duihao"></use>
                    </svg>
				</span>
				<div class="error" ng-show="loginForm.uname.$dirty" ng-messages="loginForm.uname.$error" style="color:red;">
					<div ng-message="pattern">格式错误，仅支持汉字、字母、数字、“-”“_”的组合</div>
	                <div ng-message="required" >用户名不能为空</div>
	                <div ng-message="minlength">用户名长度至少为6</div>
	                <div ng-message="maxlength">用户名长度不能超过20</div>
	                
            	</div>
            	<div class="tip" ng-hide='loginForm.uname.$dirty'>  <!--这边逻辑有问题想不起来了-->
            		支持汉子、数字、字母、"_"的组合，6-20个字符
            	</div>
			</div>
			<div class="register-box">
				<label for='psw'>设&nbsp;置&nbsp;密&nbsp;码</label>
				<input type="text" id="psw" placeholder="建议至少两种字母组合" name="upsw" ng-model="upsw" ng-minlength=
                    6 ng-maxlength=20  required />
				<span ng-show='loginForm.upsw.$dirty && loginForm.upsw.$valid'>
					<svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-duihao"></use>
                    </svg>
				</span>
				<div class="error" ng-show="loginForm.upsw.$dirty" ng-messages="loginForm.upsw.$error" style="color:red;">
	                <div ng-message="required" >密码不能为空</div>
	                <div ng-message="minlength">密码长度应在6-20个字符之间</div>
	                <div ng-message="maxlength">密码长度应在6-20个字符之间</div>
	                
            	</div>
            	<div class="tip" ng-hide='loginForm.upsw.$dirty'> 
            		建议使用字母、数字和符号两种以上的组合,6-20个字符
            	</div>
			</div>
			<div class="register-box">
				<label for='psw1'>确&nbsp;认&nbsp;密&nbsp;码</label>
				<input type="password" id="psw1" placeholder="建议至少两种字母组合" name="upsw1" ng-model="upsw1" ng-minlength=
                    6 ng-maxlength=20  required />
				<span ng-show='loginForm.upsw1.$dirty && loginForm.upsw1.$valid'>
					<svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-duihao"></use>
                    </svg>
				</span>
				<div class="error" ng-show="loginForm.upsw1.$dirty" ng-messages="loginForm.upsw1.$error" style="color:red;">
	                <!--<div ng-message="required" >请再次输入密码</div>-->
	         		<div ng-show='upsw1 != upsw'>两次输入的密码不一致</div>
            	</div>
            	<div class="tip" ng-hide='loginForm.upsw.$dirty'> 
            		建议使用字母、数字和符号两种以上的组合,6-20个字符
            	</div>
			</div>
			<div class="register-box">
				<label for='email'>邮&nbsp;箱&nbsp;验&nbsp;证</label>
				<input type="email" id="email" placeholder="请输入邮箱" name="uemail" ng-model="uemail" 
					ng-pattern='/^([\w\.\-]+)@([\w\.\-]+)\.([\w]{2,4})$/' required />
				<span ng-show='loginForm.uemail.$dirty && loginForm.uemail.$valid'>
					<svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-duihao"></use>
                    </svg>
				</span>
				<div class="error" ng-show="loginForm.uemail.$dirty" ng-messages="loginForm.uemail.$error" style="color:red;">
	                <div ng-message="required" >请输入邮箱</div>	 
	                <div ng-message="pattern" >请输入正确格式邮箱</div>	  
            	</div>
			</div>
			<div class="register-box">
				<label for='phone'>邮&nbsp;箱&nbsp;验&nbsp;证</label>
				<input type="text" id="phone" placeholder="请输入手机" name="phone" ng-model="phone" 
					ng-minlength=11 ng-maxlength=11 required />
				<span ng-show='loginForm.phone.$dirty && loginForm.phone.$valid'>
					<svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-duihao"></use>
                    </svg>
				</span>
				<div class="error" ng-show="loginForm.phone.$dirty" ng-messages="loginForm.phone.$error" style="color:red;">
	                <div ng-message="required" >请输入手机</div>	   
	                <div ng-message="minlength" >手机号为11位</div>	 
	                <div ng-message="maxlength" >手机号为11位</div>	
            	</div>
			</div>
			<div class="checkbox" required>
				<label>
            		<input type="checkbox">我已阅读并同意<a href="#">《京东用户注册协议》</a>
            	</label>
			</div>

			<div class="form-group  text-center">
                    <input class="btn btn-primary btn-lg" style="width: 400px;" ng-disabled="loginForm.$invalid" type="submit" value="提交" />
            </div>
		</form>
	</div>
	
</body>
    <script src="plugin/angular.js"></script>
    <script src="plugin/jquery.js"></script>
    <script src="plugin/bootstrap.js"></script>
    <script src="plugin/ui-bootstrap-tpls.js"></script>
    <script src="plugin/angular-messages.js"></script>
    <script src="font/iconfont.js"></script>
    <script>
        var app = angular.module('app', ['ngMessages']);
		var $ipt = $('.register-box input');
		$ipt.focus(function () {  //当获得焦点
			$(this).parent().children('.tip').css('display', 'block');
		});
		$ipt.blur(function () {   //当失去焦点
			$(this).parent().children('.tip').css('display', 'none');
		});
		
		app.controller('myCtr', function ($scope) {
			
		});
		
//		var a =/|(^[a-zA-Z_]*?((_+[a-zA-Z_]*?[a-zA-Z]+)|
//		([a-zA-Z]+[a-zA-Z_]*?_+))[a-zA-Z_]*?$)|
//		(^[a-zA-Z0-9]*?(([0-9]+[a-zA-Z0-9]*?[a-zA-Z]+)|
//		([a-zA-Z]+[a-zA-Z0-9]*?[0-9]+))[a-zA-Z0-9]*?$)/;
//  	var a1 = /(^[0-9_]*?((_+[0-9_]*?[0-9]+)|([0-9]+[0-9_]*?_+))[0-9_]*?$)/
    </script>
</html>